<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login/Register</title>
  </head>
  <body>
    <h1>Login/Register</h1>
    <form id="loginForm">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />
      <br />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <br />
      <button type="button" onclick="login()">Login</button>
    </form>
    <hr />
    <form id="registerForm">
      <h2>Register</h2>
      <label for="regUsername">Username:</label>
      <input type="text" id="regUsername" name="regUsername" required />
      <br />
      <label for="regPassword">Password:</label>
      <input type="password" id="regPassword" name="regPassword" required />
      <br />
      <button type="button" onclick="register()">Register</button>
    </form>

    <script src="/static/main.js"></script>
  </body>
</html>
